<h3>Proyecto IDER</h3>
<p>
El convenio  marco  127 de Junio/2016 suscrito entre la Gobernacion de Cundinamarca y el Distrito Capital, pone de relieve las necesidades e intereses comunes de la region, junto con una vision compartida para el desarrollo conjunto de iniciativas de impacto regional que aseguren la sostenibilidad ambiental economica y social de manera responsable con las generaciones futuras.
</p>
<p>
Este convenio definio 16 ejes de accion entre los cuales se tiene la gestion de la informacion como un elemento clave para los procesos de planeacion  y la toma de decisiones en relacion con el desarrollo de la region Bogota- Cundinamarca.
</p>
<p>
Factores como los altos volúmenes de informacion, la variedad de oferta tematica, la colaboracion de sectores públicos y privados en la produccion de datos espaciales, la consolidacion de politicas de datos abiertos, y las soluciones tecnologicas que optimizan el procesamiento de los datos; hacen que las infraestructuras de datos espaciales,   se constituyan en una de las herramientas mas idoneos para el acceso e interoperabilidad de la informacion geografica.
</p>
<p>
Este hecho, motivo a la Secretaria Distrital de Planeacion- SDP, lider a nivel local en temas relacionados con la gestion de informacion, a gestionar ante el Fondo de Desarrollo Regional del Sistema General de Regalias el proyecto denominado “ Sistema de analisis  y administracion de informacion socioeconomica y espacial para Bogota y la Region”; proyecto que aborda entre otras iniciativas, la conformacion de una infraestructura de datos espaciales de alcance y cobertura regional.
</p>
<p>
Para la materializacion de la anterior iniciativa, la SDP  firma el contrato interadministrativo 319/2016 con la Unidad Administrativa Especial de Catastro Distrital –UAECD, entidad coordinadora de la IDE de Bogota,  infraestructura que tras mas de 10 años de operacion, ofrece su experiencia y resultados como referente y articulador de la informacion geografica de la ciudad.
</p>

<p>Mas informacion en: <a href="https://www.ideca.gov.co/ider/">https://www.ideca.gov.co/ider/</a> 

