{% set stats = h.get_site_statistics() %}

<!--div class="box stats"-->
  <div class="box container mw-100" style="box-sizing: content-box; background-color:#878787">
    <h2 class="h2-ider" style="text-align: center;"> Noticias de la IDER</h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          <div class="item">
	  <div class="row news">
	    <div class="newscontainer">
              <img src="../../../base/images/c1.jpg" align="middle" style="width:780px;height:400px;margin: 10px 100px 10px">
            </div>
	  </div>
         </div>

          <div class="item">
	  <div class="row news">
	    <div sytle="width:40%">
<!--img src="../../../base/images/c1.jpg" align="middle" style="width:300px;height:200px;margin: 10px 100px 10px"-->   
	<img src="../../../base/images/c1.jpg" align="middle" style="width:300px;height:200px;margin: 10px 100px 10px">   	
             </div>
             <div sytle="width:60%">
		<h3 class="newstitle">Lanzamiento de la IDE Regional</h3>
<p class="newstext">El convenio  marco  127 de Junio/2016 suscrito entre la Gobernación de Cundinamarca y el Distrito Capital, pone de relieve las necesidades e intereses comunes de la región, junto con una visión compartida para el desarrollo conjunto de iniciativas de impacto regional que aseguren la sostenibilidad ambiental económica y social de manera responsable con las generaciones futuras.

Este convenio definió 16 ejes de acción entre los cuales se tiene la gestión de la información como un elemento clave para los procesos de planeación  y la toma de decisiones en relación con el desarrollo de la región Bogotá- Cundinamarca.</p>
	 </div>
	 </div>
       </div>

          <div class="item active">
	  <div class="row news">
	    <div class="newscontainer">
              <img src="../../../base/images/c2.jpg" align="middle" style="width:780px;height:400px;margin: 10px 100px 10px">
            </div>
	  </div>
         </div>

          <div class="item">
	  <div class="row news">
	    <div>
              <img src="../../../base/images/c2.jpg" align="middle" style="width:300px;height:200px;margin: 10px 100px 10px">
            </div>
	    <div>
                <h3 class="newstitle">Objetivo de la IDE Regional</h3>
                <p class="newstext">
                Diseñar y ejecutar las actividades requeridas para la definición y desarrollo de la infraestructura de datos espaciales de alcance y cobertura regional
                </p>
	    </div>
            </div>
         </div>

          <div class="item">
	  <div class="row news">
	    <div class="newscontainer">
              <img src="../../../base/images/c3.jpg" align="middle" style="width:780px;height:400px;margin: 10px 100px 10px">
            </div>
	  </div>
         </div>


          <div class="item">
	  <div class="row news">
	    <div sytle="width:40%">
             <img src="../../../base/images/c3.jpg" align="middle" style="width:300px; height:200px; margin: 10px 100px 10px">
            </div>
            <div sytle="width:60%">
              <h3 class="newstitle">Gestión del Conocimiento</h3>
<p class="newstext">
El plan de capacitación  para la infraestructura regional tiene como objetivo capacitar a los municipios y entidades, potenciales usuarios de la información geográfica,  acerca de la importancia del manejo, administración y uso de la información geográfica en todos los procesos de toma de decisiones sobre el territorio a escala local y regional.

El modelo describe la necesidad de un trabajo colaborativo con los funcionarios de los municipios que conformarán la Infraestructura de Datos Espaciales Regional, de manera que a través de compromiso  manifestado en el Acuerdo de Voluntades; los diferentes servidores de la Administración Municipal como Secretarios de Planeación, Administradores de la Información Geográfica y productores de datos, asistan a la totalidad del ciclo de capacitación.  De esta manera el plan se desarrolla a partir de dos enfoques: conceptos fundamentales y conceptos especializados.</p>
</div>
   	  </div>
	  </div>

        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only"> </span>
        </a>

        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only"> </span>
        </a>

	<ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
        </ol>



      </div>



 </div>

  </div>
<!--/div-->
