<div role="main" class="hero">
  <div class="container">

    <!--div class="row row1"-->
      <!--div class="span6 col1" style="margin-left: 10px;"-->
        {% block promoted %}
          {% snippet 'home/snippets/ider_main.html' %}
        {% endblock %}
      <!--/div-->
    <!--/div-->

<p></p>


<div style="background-color:#878787">
{% snippet 'home/snippets/news_carrousel.html' %}
</div>


<!--script>
//var element = document.getElementById("ider-focus");
//element.scrollIntoView({behavior: "auto", block: "end", inline: "end"});
document.getElementById("ider-focus").focus();
</script-->







    <!--div class="row"--> 
      <!--div class="span6 col1"-->
        {% block search %}
          {#% snippet 'home/snippets/search.html' %#}
	  {#% snippet 'home/snippets/categories.html' %#}      
        {% endblock %}
      <!--vi-->
    <!--/div-->

  </div>
<!--/div-->


<!--div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">

        {#% block  featured_group%}
 {% snippet 'home/snippets/categories.html' %}
        {% endblock %#}

      </div>

    </div>
  </div>
</div-->





<!--div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">

        

{# Note: this featured_group block is used as an example in the theming
           tutorial in the docs! If you change this code, be sure to check
           whether you need to update the docs. #}
        {# Start template block example. #}
        { % block featured_group %}
          {#% snippet 'home/snippets/featured_group.html' %#}
{ % snippet 'home/snippets/ider_carrousel.html' %}
        { % endblock %}
        {# End template block example. #}
      </div>
      <div class="span6 col2">
        { % block featured_organization %}
          {#% snippet 'home/snippets/featured_organization.html' %#}
        { % endblock %}
      </div>
    </div>
  </div>
</div-->
